<?php
$servername = "10.10.5.100";
$username = "freepbxuser";
$password = "freepbx_password";
$dbname = "asterisk";

// Create connection
$conn = new mysqli($servername, $username, $password, $dbname);
// Check connection

if ($conn->connect_error) {
    die("Connection failed: " . $conn->connect_error);
}
?>